<div class="header">
  <label>Enter your name
    <input type="text" [(ngModel)]="name" (keyup.enter)="changeName()">
  </label>
  <label>Pick a color
    <app-color-picker (result)="gotResult($event)"></app-color-picker>
  </label>
</div>
<div *ngFor="let item of items">
  <span class="timestamp"> {{item.timestamp.toDate() | date:"medium"}} </span>
  <span class="Handle"> {{item.name}} </span>
  <span class="message">{{item.message}}</span>
</div>
<label>Enter a message as {{localStorage.name}}:
  <input [(ngModel)]="userMessage" type="text" (keyup.enter)="submitMessage()">
</label>